/* Basis-Styles für die Seite */

h1 {
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial,
    "Apple Color Emoji", "Segoe UI Emoji", sans-serif;
  font-size: 48px;
}
/* Hintergrund-Textur (unendlich kachelbar) */
body {
  min-height: 100vh;
  background-color: #f2f2f2; /* Fallback-Farbe */
  background-image: url('bg-stones.svg');
  background-repeat: repeat;
  background-size: 200px 200px; /* Grösse der Kachel */
}

